<% if @result%>
    var heredoc = (function () {/*
    <tr>
        <td><%= @task.year %>年<%= @task.month %>月<%= @task.day %>日</td>
        <td><%= @task.rank %></td>
        <td><%= @task.title%></td>
        <td><%= @task.detail%></td>
        <td><%= @task.category%></td>
        <td><%= link_to '削除',task_path(id: @task.id),method:'delete',data:{confirm: '本当に削除しますか？'},class: 'btn btn-danger' %></td>
        </tr> 
    */}).toString().match(/(?:\/\*(?:[\s\S]*?)\*\/)/).pop().replace(/^\/\*/, "").replace(/\*\/$/, "");
    $("table").append(heredoc)
    $("#year").val("")
    $("#month").val("")
    $("#day").val("")
    $("#rank").val("")
    $("#title").val("")
    $("#detail").val("")
    $("#category").val("")
<% else %>
    $(".alert").html("登録に失敗しました")
<% end %>

<!--function AddTaskList(){-->
<!--    var UserTask = document.getElementById('').value;-->
<!--    document.getElementById('').value += UserTask + '\n';-->
<!--}-->


    