<%= form_with url: tasks_path, method: "post" do |f| %>
<div class="container">
    <div class="form mb-4">
        <h1>タスクリスト</h1>
    </div>
    <div class="form-row  mb-3">
              <label class="mr-3 mb-0"> 期限: </label>
            <%= f.date_field :limited_at %>
     </div>
    <div class="form-group">
        <div class="col-xs-2 mb-3">
        <label>重要度</label>
         <%= f.text_field :rank, class: "form-control" %>
        </div>
        <div class="col-xs-2 mb-3">
        <label>タイトル</label>
         <%= f.text_field :title, class: "form-control" %>            
        </div>
        <div class="col-xs-2 mb-3">
        <label>詳細</label>
         <%= f.text_field :detail, class: "form-control" %>
        </div
        <div class="col-xs-2">
        <label>分類</label>
          <%= f.text_field :category, class: "form-control" %>            
        </div>
        <%= f.submit "作成",class: "btn btn-outline-success mb-4"%>        
    </div>
</div>
<% end %>       
<table class="container table table-hover">
    <tr class="bg-info text-light">
        <th>期限</th>
        <th>重要度</th>
        <th>タスク名</th>
        <th>詳細</th>
        <th>分類</th>
        <th></th>
    </tr>
    <% @task.each do |task| %>
    <tr>
        <td><%= task.limited_at.strftime("%Y年%m月%d日") %></td>
        <td><%= task.rank %></td>
        <td><%= task.title %></td>
        <td><%= task.detail %></td>
        <td><%= task.category %></td>
        <td><%= link_to "削除",task_path(task),method: "delete",data:{confirm: '本当に削除しますか？'},class: "btn btn-danger" %></td>
    </tr>
    <% end %>        
</table>